<ion-content>
  <!-- Titulo -->
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
          <ion-img src="../../../assets/images/Logo.png" alt="logo" style="width: 90px;object-fit: cover;"></ion-img>
    </ion-label>
  </ion-title>
  <!-- Login -->
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2 >¡Inicie Sesion para <br>
            registrar Asistencia!</h2>
          <br>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nombreUsuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <br>
            <ion-button shape="block" (click)="ingresar()">Iniciar Sesion</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-label>
        <br>
        <a [routerLink]="['../recuperar']">Recuperar</a>
      </ion-label>
    </ion-card>
  </div>
</ion-content>