<ion-header>
  <!-- Titulo --> 
  <ion-toolbar color="primary">
    <ion-title class="titulo" >
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Login -->
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2 >¡Iniciar Sesión!</h2>
          <br>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label class="usuario">Usuario:</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nombreUsuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="contraseña">Contraseña:</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <br>
            <ion-button shape="block" (click)="ingresar()">Iniciar Sesión</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-label>
        <br>
        <a [routerLink]="['../recuperar']">Recuperar Contraseña</a>
      </ion-label>
    </ion-card>
  </div>
</ion-content>