<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="home-titulo" >
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-padding-top">
    <ion-label>
      <h1 class="ion-text-center" *ngIf="usuario">¡Bienvenido {{ usuario.nombreUsuario }}!</h1>
    </ion-label>
  </ion-title>
  <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)">
  <ion-button expand="full" (click)="captureImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Capturar imagen
  </ion-button>
  <ion-button expand="full" (click)="startScan()">
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    Iniciar Escaneo
  </ion-button>
  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Volver a Escanear
  </ion-button>

  <video #video [hidden]="!scanActive" width="100%"></video>

  <canvas #canvas hidden></canvas>

  <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Detener Escaneo
  </ion-button>

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>Código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card>

</ion-content>