<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="home-titulo" >
      Registro Asistencia Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">
  <ion-title class="ion-padding-bottom">
    <ion-label>
      <h1 class="ion-text-center" *ngIf="usuario">¡Bienvenido {{ usuario.nombreUsuario }}!</h1>
    </ion-label>
  </ion-title>
  <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)">
  <ion-row >
    <ion-col size="12" >
      <ion-button color="secondary" shape="block" (click)="captureImage()">
        Examinar imagen...
      </ion-button>
    </ion-col>
    <ion-col size="12" >
      <ion-button color="secondary" shape="block" (click)="startScan()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Iniciar Escaneo
      </ion-button>
    </ion-col>
    <ion-col size="12" >
      <ion-button color="secondary" (click)="reset()" shape="block" *ngIf="scanResult">
        <ion-icon slot="start" name="refresh"></ion-icon>
        Volver a Escanear
      </ion-button>
    </ion-col>
    </ion-row>

  <video #video [hidden]="!scanActive" width="100%"></video>

  <canvas #canvas hidden></canvas>

  <ion-row >
    <ion-col size="12" >
      <ion-button (click)="stopScan()" color="danger" shape="block" *ngIf="scanActive">
        <ion-icon slot="start" name="close"></ion-icon>
        Detener Escaneo
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>Código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card>
</ion-card>
</div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>App desarrollada por Grupo 8</ion-title>
  </ion-toolbar>
</ion-footer>