<ion-content>
  <!-- Login -->
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2 > Complete la informacion <br>
            para cambiar la contraseña </h2>
          <br>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nombreUsuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.newPass"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.confirmarPass"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <br>
            <ion-button shape="block" (click)="cambiarPass()">Cambiar contraseña</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
