

.tarjeta { 

    background-color: #878683;
}

.titulo { 

    background-color: #f4d47c;
    padding-top: 15px;
    color: white;
    
    
    
}

h2 { 

    color: white;
}

.item{
    
    color: white;

}

ion-item{

    --ion-background-color:#444444;
}

ion-content{

    margin-top: 15px;
}